body {
    background-image: url('bg.jpg');
    background-size: cover; /* 画面全体を覆うように画像を拡大・縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    background-position: center center; /* 画像を中央に配置 */
    background-attachment: fixed; /* 画面をスクロールしても背景を固定 */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.options button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}

.keyword-box {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f8ff;
    border: 2px dashed #4682b4;
    display: none;
}

.keyword-box .keyword {
    font-size: 2em;
    font-weight: bold;
    color: #d2691e;
}

.instructions {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#answerInput {
    padding: 10px;
    font-size: 1.2em;
    width: 80%;
    margin-bottom: 20px;
}

#submitButton {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.locked-message {
    color: red;
    font-size: 1.5em;

}

